<h1>Products</h1>


<p>The total number of products are <%= @products.count%></p>

<p>The average is <%= @products.average(:price) %></p>

<p>The total sum of stock quantity is <%= @products.sum(:stock_quantity) %></p>

